@import '../../../styles/colors.scss';

.footerContainer {
  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
}

.footerListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  word-break: break-all;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 0 0.5rem 0 0.5rem;
}

.footerListContainer h5 {
  margin: 0.5rem 0 1rem;
  color: $off-primary;
}

.footerItemContainer {
  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.25;
  p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}

.footerItem {
  margin: 0;
  padding: 0;
  text-align: left;
  color: $secondary;
  list-style: none;
  a {
    text-decoration: none;
    color: inherit;
    font-size: 0.75rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 800px) {
  .footerContainer {
    flex-direction: column;
  }
  .footerWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .logosContainer {
    display: none;
  }
}
