.eventPage {
  display: flex;
  width: 100%;
  justify-content: center;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    margin: 1rem;
  }
}
