.postsContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts{
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post{
  margin: .75rem;
  justify-content: center;
  width: 90%;
}
