.eventOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.eventOverviewTitle {
  text-align: center;
}

.eventOverviewContainer {
  display: flex;
  justify-content: center;
  width: 70%;
}
