.imgReupload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  input {
    width: auto;
    margin-bottom: 1rem;
  }
}
