$td-red: #A4161A;
$secondary : #F8D2CC;

$background-color: #161926;
$off-background-color: #161A1D;

$off-primary: #444658;
$primary: #FFFFFF;

$success: #5CB85C;
$error: #D9534F;
$info: #5BC0DE;
$warning: #F0AD4E;
