$td-red: #A4161A;
$secondary : #F8D2CC;

$background-color: #161926;
$off-background-color: #161A1D;

$active-label-color: #7e4ccb;
$inactive-label-color: #b3b3b3;

$input-background: #272530;
$input-border: #2f2c45; 

$off-primary: #444658;
$primary: #FFFFFF;
