.eventBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  // background-color: #262443;
  background-color: #222136;
  // background: linear-gradient(270deg, rgb(25, 51, 90) 0%, rgb(105, 122, 152) 100%);
  // background: linear-gradient(0deg, rgb(23, 28, 45), rgb(37, 66, 82) 100%);
  // background: linear-gradient(270deg, #0d2547 15%, #1b3157 100%);
  text-align: center;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.description {
  grid-column: 1 / span 3;
}

.infoContainer {
  grid-column: 4 / span 1;
}

.descriptionContainer {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
  padding: 1rem, 1rem, 1rem, 1.5rem;
  h3 {
    margin-top: 0.5rem;
  }
}
.infoContainer {
  // padding-top: 1%;
  display: flex;
  width: 100%;
  // margin: 1rem;
  justify-content: center;
}

.infoWrapper {
  display: flex;
  width: 75%;
  align-items: center;
}

.infoSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

  p {
    font-weight: bold;
    padding: 0px;
    font-size: 1rem;
    line-height: 0.1rem;
  }
  button {
    width: 95%;
    margin: 10% 0px 5% 0px;
  }
}

.adminButtons {
  margin: 1%;
  width: 25%;
}

.header {
  min-height: 35vh;
  border-radius: 20px 20px 0px 0px;
}
