.headerContainer {
  margin-top: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100%;
  img {
    object-fit: scale-down;
  }
}

.buttonWrapper {
  display: flex;
  margin-top: 1em;
  justify-content: center;
  width: 100%;
}
