@import 'src/styles/colors.scss';

.areaWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}

.textarea {
  padding: 1rem;
  min-width: 20ch;
  height: 5rem;

  background: transparent;
  border: 1px solid $primary;
  color: $primary;

  &:active,
  &:focus {
    outline: none;
  }
}

.label {
  position: absolute;
  transform: translate(0, 26px) scale(1);
}
