@import 'styles/colors.scss';
@import 'styles/text.scss';

// TODO: Use text.scss for some of this
.container {
  outline: none;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.text {
  line-height: normal;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  border: 2px solid $input-border;
  background: $input-background;
  border-radius: 5px;
  color: $primary;
  min-height: 44px;
  box-sizing: border-box;
  padding-right: 2.2rem; // space for dropdown icon
}

.icon {
  fill: $primary;
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.menu {
  position: absolute;
  z-index: 100;
  text-align: left;
  transform: translateY(4px);
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
}

.item {
  background: #272530;
  line-height: normal;
  padding: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: #9fc3f8;
  }
}
