@import 'src/styles/colors';

button {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5em 2em;
  margin: 0 0;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 1px solid;
  font-weight: 700;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }

  & + & {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

button:disabled,
button[disabled] {
  background-color: #797a7d;
  color: #333333;
  cursor: not-allowed;
}

.primary {
  color: $primary;
  border-color: $off-primary;
}

.primary:hover {
  background-color: $off-primary;
}

.secondary {
  color: $secondary;
  border-color: $secondary;
}

.secondary:hover {
  background-color: $secondary;
  color: black;
}

@media screen and (max-width: 768px) {
  button {
    padding: 0.5em 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
