.submitWrapper {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.submitModalButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}