.container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.box {
    height: 100%;
    width: 600px;
    border-radius: 40px;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
}
