.root {
  height: 100%;
  width: 100%;
}

.eventsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.eventsWrapper {
  display: flex;
  justify-content: center;
}

// prevent movement when data is not loaded
.wrapper {
  min-height: 65vh;
}
