.eventPreview {
  background: #2b2c3d;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 7.5%;
  justify-content: center;
  text-align: center;
  min-height: 10vh;
  cursor: pointer;
  flex: 1;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}

.verticalViewHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  p {
    margin: 0;
  }
}

.verticalViewInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
}

.verticalViewInfoText {
  text-align: center;
  align-items: center;
  display: flex;
  overflow-wrap: break-word;
  p {
    margin: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1223px) {
  .verticalViewInfo {
    p {
      font-size: 0.8rem;
    }
  }

  .verticalViewHeader {
    p {
      font-size: 0.8rem;
    }
  }
}
