@import '../../../atoms//textfield/textfield.module.scss';

.eventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventContainer {
  display: inline-flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.dateTimeWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-content: space-between;
  align-content: space-around;
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1 / span 1;
  width: 100%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 2 / span 1;
  width: 100%;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

input[type='time']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
