@import '../../../atoms//textfield/textfield.module.scss';

.eventForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.dateTimeWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.date {
  grid-column: 1 / span 1;
}

.time {
  grid-column: 2 / span 1;
}

.dateTimeInput {
  // @extend .textField;
  // margin: 0rem .25rem 0rem .25rem;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

input[type='time']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
