@import '../../../../styles/colors.scss';
.headerContainer {
  display: flex;
  height: 30vh;
  max-height: 30vh;
  width: 100%;
  // background: linear-gradient(180deg, hsla(259, 67%, 8%, 1) 0%, hsla(289, 73%, 7%, 1) 100%);
  // background: linear-gradient(180deg, hsla(259, 67%, 8%, 1) 0%, hsla(289, 73%, 12%, 1) 100%);
  // background: url('../../../../assets/Wave.svg') no-repeat;
  background: -moz-linear-gradient(270deg, hsla(280, 53%, 42%, 1) 0%, hsla(236, 18%, 17%, 1) 100%);
  // background-size: 100% 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  width: 25%;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem $off-primary;
  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.descriptionContainer {
  display: flex;
  width: 60%;
  height: 100%;
}

.description {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  word-wrap: break-word;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15%;
}

.button {
  width: 75%;
  height: 20%;
}

.eventBody{
  display: flex;
  width: 100%;
  height: 65vh;
  max-height: 64.5vh;
}
