.eventDetails{
  height: 100%;
  width: 100%;
  max-height: 20vh;
  max-width: 20vh;
  border-radius: 5px;
  flex-direction: column;
  background-color: #666A7D;
  justify-content: center;
  // text-align: center;
}
