.eventBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  // background-color: #262443;
  background-color: #222136;
  // background: linear-gradient(270deg, rgb(25, 51, 90) 0%, rgb(105, 122, 152) 100%);
  // background: linear-gradient(0deg, rgb(23, 28, 45), rgb(37, 66, 82) 100%);
  // background: linear-gradient(270deg, #0d2547 15%, #1b3157 100%);
  text-align: center;
}

.editContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  min-height: 35vh;
  border-radius: 20px 20px 0px 0px;
}

.adminButtons {
  margin: 1% 0 1% 0;
  width: 25%;
}
