name: Deploy production image

# TODO add workflow run
# To use workflow_run the file needs to be on master -> add in new pr
on:
  workflow_run:
    workflows: ['Frontend-build and push to production']
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: login to server and launch newest image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          scripts: ./pull-and-run-frontend.sh
